# 자료형

#수업 #정수형 # 문제1  
x = 100  
y = 100  
z = x

다음 화살표를 그려보세요!

In [53]:
# x ┐
# y ┼> 100
# z ┘

#수업 #정수형 # 문제2  
x = 258  
y = 258  
z = x

다음 화살표를 그려보세요!

In [54]:
# z ┐
# x ┴> 258
# y -> 258

#수업 #실수형  
0.1 + 0.2 연산을 하면 0.30000000000000004의 결과가 나옵니다.  
왜 이런 현상이 생길까요?

In [55]:
# 컴퓨터는 10진수가 아니라 2진수로 계산합니다.
# 그래서 2진수 변환에서 무한수가 발생할 수 있고, 계산의 오차가 생길 수 있습니다.

#수업 #문자열 #문제1-1  
아래와 같은 파일 이름이 있습니다.  
s = 'python3.png'  
  
- 문제1-1 : 파일 이름을 출력하세요 (출력: python3)
- 문제1-2 : 확장자를 출력하세요 (출력: png)

In [56]:
s = 'python3.png'

# 문제1-1 : .png를 잘라내기
print(s[:-4])

# 문제1-2 : png만 잘라내기
print(s[-3:])

python3
png

#수업 #문자열 #문제1-2   
항상 확장자만 나오게 해주세요.  

예시1) 'python3.png'  
정답1) png  

예시2) 'li.cat.jpeg'  
정답2) jpeg

In [57]:
# 방법1
s='li.cat.jpeg'

s.split('.')[-1]

'jpeg'

In [58]:
# 방법2
s = 'li.cat.jpeg'

s[s.rindex('.')+1:]

'jpeg'

#수업 #문자열 #문제2  
'010-1000-2000'을 입력받아 01010002000을 출력해주세요.

In [59]:
phone = '010-1000-2000'

''.join(phone.split('-'))

'01010002000'

#수업 #문자열 #문제3 #[비밀지도](https://school.programmers.co.kr/learn/courses/30/lessons/17681)
1. 지도는 한 변의 길이가 n인 정사각형 배열 형태로, 각 칸은 "공백"(" ") 또는 "벽"("#") 두 종류로 이루어져 있다.
2. 전체 지도는 두 장의 지도를 겹쳐서 얻을 수 있다. 각각 "지도 1"과 "지도 2"라고 하자. 지도 1 또는 지도 2 중 어느 하나라도 벽인 부분은 전체 지도에서도 벽이다. 지도 1과 지도 2에서 모두 공백인 부분은 전체 지도에서도 공백이다.
3. "지도 1"과 "지도 2"는 각각 정수 배열로 암호화되어 있다.
암호화된 배열은 지도의 각 가로줄에서 벽 부분을 1, 공백 부분을 0으로 부호화했을 때 얻어지는 이진수에 해당하는 값의 배열이다.

[입력형식]  
입력으로 지도의 한 변 크기 n 과 2개의 정수 배열 arr1, arr2가 들어온다.  
- 1 ≦ n ≦ 16
- arr1, arr2는 길이 n인 정수 배열로 주어진다.
- 정수 배열의 각 원소 x를 이진수로 변환했을 때의 길이는 n 이하이다. 즉, 0 ≦ x ≦ 2n - 1을 만족한다.

[출력 형식]   
원래의 비밀지도를 해독하여 '#', 공백으로 구성된 문자열 배열로 출력하라.

[입출력 예제]
매개변수	| 값
---|---
n	|5
arr1|	[9, 20, 28, 18, 11]
arr2|	[30, 1, 21, 17, 28]
출력|	["#####","# # #", "### #", "# ##", "#####"]

In [60]:
# keep해야할 포인트
# 1. 2진수는 정수형이다
# 2. 다만 bin()은 문자열이다

n = 5
arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]

# bin(arr1[0]) # 01001
# bin(arr2[0]) # 11110

bin(arr1[0] | arr2[0])
bin(arr1[0] | arr2[0])[2:].replace('1', '#').replace('0', ' ')

# 이 부분 주의!!
bin(31)[2:].replace('1', '#').replace('0', ' ')
bin(3)[2:].zfill(5).replace('1', '#').replace('0', ' ')

'   ##'

In [61]:
# 방법1
def solution(n, arr1, arr2):
    answer = []
    for i in range(n):
        secret = bin(arr1[i] | arr2[i])[2:].zfill(
            n).replace('1', '#').replace('0', ' ')
        answer.append(secret)
    return answer


n = 5
arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]
solution(n,arr1,arr2)

['#####', '# # #', '### #', '#  ##', '#####']

In [62]:
# 방법2
def solution(n, arr1, arr2):
    answer = []
    for a, b in zip(arr1,arr2):
        secret = bin(a | b)[2:].zfill(
            n).replace('1', '#').replace('0', ' ')
        answer.append(secret)
    return answer


n = 5
arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]
solution(n,arr1,arr2)

['#####', '# # #', '### #', '#  ##', '#####']

#수업 #문자열 #문제4 #369게임  
'36913699'와 같은 문자열이 입력되었을 때 박수를 몇 번 치는지 코드를 작성해주세요.  
- '336699' => 6번
- '123123' => 2번

In [63]:
s = '36913699'

s.count('3') + s.count('6') + s.count('9')

7

#수업 #문자열 #문제4-1 #369게임  
'36913699'까지 오는동안 박수는 몇번 쳤을까요?  
- 336699 => 84207113번
- 123123 => 176889번

In [64]:
s = str(list(range(123123)))

s.count('3') + s.count('6') + s.count('9')

176889

#수업 #문자열 #문제5  
1부터 10,000까지 8이라는 숫자가 총 몇번 나오는가?

8이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야 한다.
(※ 예를들어 8808은 3, 8888은 4로 카운팅 해야 함)

In [65]:
s = str(list(range(10001)))

s.count('8')

4000

#0908연습문제1 #문자열 #문제6  
문자열 s에 마지막에 있는 문자열을 2번 더 붙이는 코드를 작성해주세요.  
예) s = 'jun'   
정답) 'junnn'

In [66]:
s = 'jun'
s = s + s[-1] * 2
print(s)

junnn

#0908연습문제2 #문자열 #문제7  
대문자는 소문자로 치환하는 코드를 작성해주세요.   
예)  s = 'Jun'  
정답) 'jun'

In [67]:
s = 'Jun'
s = s.lower()
print(s)

jun

#0908연습문제3 #문자열 #문제8  
'abcde', 숫자, 대쉬(-), 언더스코어(_)를 모두 제거해주세요.  
예) s = 'hello_world123'  
정답) 'hlloworl'

In [68]:
s = 'hello_world123'
table = str.maketrans('', '', 'abcde0123456789-_')
s.translate(table)

'hlloworl'

#0911연습문제3번 #문자열 #문제9  
어떤 이메일을 쓰고 있는지 출력하는 코드를 작성해주세요.

```py
email2 = abc@gmail.com # gmail
email3 = abc@naver.com # naver
email4 = abc@weniv.co.kr # weniv
email5 = li.cat@weniv.co.kr # weniv
```

In [69]:
# 방법1
email1 = 'abc@gmail.com'  # gmail
email2 = 'abc@naver.com'  # naver
email3 = 'abc@weniv.co.kr'  # weniv
email4 = 'li.cat@weniv.co.kr'  # weniv

email4.split('@')[1].split('.')[0]

'weniv'

In [70]:
# 방법2
email2 = "abc@gmail.com"  # gmail
email3 = "abc@naver.com"  # naver
email4 = "abc@weniv.co.kr"  # weniv
email5 = "li.cat@weniv.co.kr"  # weniv


def checkEmailName(mailAddress):
    emailName = mailAddress.split('@')[-1].split('.')[0]
    print(emailName)


checkEmailName(email2)
checkEmailName(email3)
checkEmailName(email4)
checkEmailName(email5)

gmail
naver
weniv
weniv

In [71]:
# 방법3
email2 = "abc@gmail.com"  # gmail
email3 = "abc@naver.com"  # naver
email4 = "abc@weniv.co.kr"  # weniv
email5 = "li.cat@weniv.co.kr"  # weniv


def getEmail(email: str) -> str:
    return email.split("@")[1].split(".")[0]


print(getEmail(email2))
print(getEmail(email3))
print(getEmail(email4))
print(getEmail(email5))

gmail
naver
weniv
weniv

# 연산자

#0911연습문제1 #논리연산자  
```py
x = 3   
y = 5   
result = (isinstance(x, int) and isinstance(y, int)) # 여기에 논리연산자를 더 붙여 두 수를 더하는 코드를 만들어보세요.
```

In [72]:
x = 3
y = 5

result = (isinstance(x, int) and isinstance(y, int)) and (x + y)
result

8

#0911연습문제2 #비교연산자  
다음 각각의 출력값은 무엇일까요? 왜 그러한가요?  

1. `print('hello' < 'hell o')`
2. `print([10, 20, 30] < [10, 19, 100])`
3. `print(10 % 3.3 == 0.1)`

In [73]:
print('hello' < 'hell o')
# False
# 'o' 와 ' '의 유니코드 비교('o' > ' ', True)
# ('hello' < 'hell o') == False
# True가 되기 위해서 'hello' > 'hell o'가 되어야 한다.

print([10, 20, 30] < [10, 19, 100])  
# False
# 순서대로 비교
# 리스트 안의 숫자들을 10부터 차례로 비교했을때 20은 19보다 크다.
# True가 되기 위해서 [10, 20, 30] > [10, 19, 100]가 되어야 한다.

print(10 % 3.3 == 0.1)  
# False
# 부동 소수점 문제로 정확한 값이 나오지 않는다.
# 양쪽에 10읍 곱하고 계산 후 10을 나눠주면 해결할 수 있습니다.

False
False
False

#수업 #산술연산자   
10000원짜리를 들고가서 1500원짜리 월드콘을 사먹었습니다.  
거스름돈을 가장 적게 줄 수 있는 코드를 작성하세요.

In [74]:
# 그리디 알고리즘
거스름돈 = 10000 - 1500

print(거스름돈 // 5000, '5000원')
거스름돈 %= 5000

print(거스름돈 // 1000, '1000원')
거스름돈 %= 1000

print(거스름돈 // 500, '500원')
거스름돈 %= 500

print(거스름돈 // 100, '100원')
거스름돈 %= 100

1 5000원
3 1000원
1 500원
0 100원

# 함수

#수업 #함수 #문제1  
a와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수를 만들어주세요.
```py
a = 2
b = 3
```
(2 + 3) * (2 - 3) = -5가 출력이 되어야 합니다.

- 조건1: a가 입력되지 않으면 0이 입력됩니다.
- 조건2: b가 입력되지 않으면 0이 입력됩니다.

In [75]:
a = 2
b = 3

def multiple (x=0, y=0):
    return x * y

def plus (x=0, y=0):
    return x + y

def minus (x=0, y=0):
    return x - y

multiple(plus(a,b), minus(a,b))

-5

#0912연습문제1 #함수 #문제2  
다음 함수 is_palindrome를 완성하시오. 이 함수는 하나의 문자열을 인자로 받아, 해당 문자열이 팰린드롬(앞으로 읽으나 뒤로 읽으나 같은 단어나 구)이면 True를, 아니면 False를 반환해야 합니다.

In [76]:
def is_palindrome(s):
    if s == s[::-1]:
      return True
    return False


print(is_palindrome("level"))  # 결과: True
print(is_palindrome("python"))  # 결과: False

True
False

In [77]:
def is_palindrome(s):
    if len(s) <= 1:
        return True
    elif s[0] == s[-1]:
        return is_palindrome(s[1:-1])
    return False


print(is_palindrome("level"))  # 결과: True
print(is_palindrome("python"))  # 결과: False

True
False

In [78]:
def is_palindrome(s):
    if list(reversed(s)) == list(s):
      return True
    return False


print(is_palindrome("level"))  # 결과: True
print(is_palindrome("python"))  # 결과: False

True
False

#수업 #재귀함수 #문제1 #팩토리얼  
다음 코드가 실행되는 순서를 나열하고 결과값을 적으세요.  
```py
def factorial(n):
    if n <= 1:
        return 1
    return n * factorial(n-1)

factorial(5)
```

In [79]:
'''
결과값 : 120

함수 호출       return
factorial(n)    n * factorial(n-1)
factorial(5)    5 * factorial(4)    == 5 * 24
factorial(4)    4 * factorial(3)    == 4 * 6
factorial(3)    3 * factorial(2)    == 3 * 2
factorial(2)    2 * factorial(1)    == 2 * 1
factorial(1)    1
'''

'\n결과값 : 120\n\n함수 호출       return\nfactorial(n)    n * factorial(n-1)\nfactorial(5)    5 * factorial(4)    == 5 * 24\nfactorial(4)    4 * factorial(3)    == 4 * 6\nfactorial(3)    3 * factorial(2)    == 3 * 2\nfactorial(2)    2 * factorial(1)    == 2 * 1\nfactorial(1)    1\n'

#수업 #재귀함수 #문제2 #문자열뒤집기  
다음 코드가 실행되는 순서를 나열하고 결과값을 적으세요.  
```py
def reversed_str(s):
    if len(s) <= 1:
        return s
    return reversed_str(s[1:]) + s[0]


reversed_str('hello')
```

In [80]:
'''
결과값 : 'olleh'

함수 호출               return
reversed_str(n)        reversed_str(s[1:]) + s[0]
reversed_str('hello')  reversed_str('ello') + 'h'   == 'olle' + 'h'
reversed_str('ello')   reversed_str('llo') + 'e'    == 'oll' + 'e'
reversed_str('llo')    reversed_str('lo') + 'l'     == 'ol' + 'l'
reversed_str('lo')     reversed_str('o') + 'l'      == 'o' + 'l'
reversed_str('o')      'o'                          == 'o'
'''

"\n결과값 : 'olleh'\n\n함수 호출               return\nreversed_str(n)        reversed_str(s[1:]) + s[0]\nreversed_str('hello')  reversed_str('ello') + 'h'   == 'olle' + 'h'\nreversed_str('ello')   reversed_str('llo') + 'e'    == 'oll' + 'e'\nreversed_str('llo')    reversed_str('lo') + 'l'     == 'ol' + 'l'\nreversed_str('lo')     reversed_str('o') + 'l'      == 'o' + 'l'\nreversed_str('o')      'o'                          == 'o'\n"

#수업 #내장함수  
아래의 셀을 실행하여 다음 문제들을 풀어주세요.

In [81]:
data = [
    [2, 'hello world', 30],
    [3, 'hworl', 33],
    [5, 'hello wo', 35],
    [4, 'hello w', 31],
    [6, 'hello w', 39]
]

#수업 #내장함수 #문제1  
첫 번째 요소의 값을 정렬하세요.

In [82]:
sorted(data)

[[2, 'hello world', 30],
 [3, 'hworl', 33],
 [4, 'hello w', 31],
 [5, 'hello wo', 35],
 [6, 'hello w', 39]]

#수업 #내장함수 #문제2  
두 번째 요소의 문자열 길이를 기준으로 정렬하세요.

In [83]:
sorted(data, key=lambda x:len(x[1]))
# sorted([11, 5, 7, 8, 7])를 정렬하는 것과 같습니다. 
# 다만 숫자 값으로 반환하는 것이 아니라 object로 반환하죠.'

[[3, 'hworl', 33],
 [4, 'hello w', 31],
 [6, 'hello w', 39],
 [5, 'hello wo', 35],
 [2, 'hello world', 30]]

#수업 #내장함수 #문제3  
세 번째 요소 기준으로 정렬하세요.

In [84]:
sorted(data, key=lambda x:x[2])

[[2, 'hello world', 30],
 [4, 'hello w', 31],
 [3, 'hworl', 33],
 [5, 'hello wo', 35],
 [6, 'hello w', 39]]

#수업 #내장함수 #문제4  
첫번째 요소와 세 번째 요소의 차가 큰 순으로 출력해주세요.  
예) [2, 'hello world', 30]의 경우 30 - 2 == 28입니다. 이런 차 순서대로 출력하시면 됩니다.

In [85]:
# 방법1
sorted(data, key=lambda x:x[0]-x[2])

[[6, 'hello w', 39],
 [3, 'hworl', 33],
 [5, 'hello wo', 35],
 [2, 'hello world', 30],
 [4, 'hello w', 31]]

In [86]:
# 방법2
sorted(data, key=lambda x:x[2]-x[0], reverse=True)

[[6, 'hello w', 39],
 [3, 'hworl', 33],
 [5, 'hello wo', 35],
 [2, 'hello world', 30],
 [4, 'hello w', 31]]

# 리스트

#0912연습문제2 #리스트  
리스트 numbers가 주어졌을 때, 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.

In [87]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers = list(filter(lambda x: x % 2 == 1, numbers))

print(numbers)  # 결과: [3, 5, 7, 9]

[3, 5, 7, 9]

#수업 #리스트  
list(range(101))와 슬라이싱을 사용해 아래 문제를 풀어주세요.

문제 1: 짝수를 모두 더해주세요

In [ ]:
sum(list(range(101))[::2])

2550

문제 2: 3의 배수와 5의 배수를 모두 더해주세요.

In [ ]:
sum(list(range(101)[::3])) + sum(list(range(101)[::5])) - \
    sum(list(range(101)[::15]))

2418

보너스 : 1부터 90까지의 짝수르 모두 더하기

In [ ]:
sum(list(range(101))[:91][::2])

2070

#수업 #연습문제 #리스트  
[10, 20, 40, 50, 30]와 같은 리스트에서 20과 30 중간에 25라는 값을 삽입하고 싶습니다.  
현재 리스트는 정렬되어 있지 않은데 이 리스트를 정렬하고 20과 30에 값을 index 메서드로 찾아 insert로 중간에 값을 삽입해주세요.

In [ ]:
#방법1
s = sorted([10, 20, 40, 50, 30])
s.insert(s.index(30), 25)
s

[10, 20, 25, 30, 40, 50]

In [88]:
#방법2
s = [10, 20, 40, 50, 30]
s.append(25)
sorted(s)

[10, 20, 25, 30, 40, 50]

#0913연습문제3 #문자열 #리스트  
주어진 문자열 s = "apple banana apple cherry banana cherry apple"에서 가장 자주 등장하는 단어를 출력하세요.

In [101]:
s = "apple banana apple cherry banana cherry apple"

# 방법1
lst = s.split(' ')
max_count = max(lst, key=lst.count)
print(max_count)

apple

In [100]:
from collections import Counter
s = "apple banana apple cherry banana cherry apple"

# 방법2
result = Counter(s.split())
# result.most_common()
result.most_common(1)

[('apple', 3)]

# 딕셔너리

#수업 #딕셔너리  
아래 코드를 실행시킨 후 문제를 풀어주세요.

In [89]:
국영수 = {'국어': 97, '영어': 38, '수학': 90}

문제1: 다음 국영수 dict에 점수에 평균을 구하는 코드를 작성해주세요.

In [90]:
국영수_평균_점수 = sum(국영수.values())/len(국영수)
print(국영수_평균_점수)

75.0

문제2: {'사회':70, '과학':85}가 추가되었습니다. dict에 평균을 구하는 코드를 작성해주세요.

In [ ]:
국영수.update({'사회': 70, '과학': 85})
국영수사과 = 국영수
국영수사과_점수리스트 = list(국영수사과.values())
국영수사과_평균_점수 = sum(국영수사과_점수리스트)/len(국영수사과_점수리스트)
print(국영수사과_평균_점수)

문제3: 영어와 수학점수가 각각 10점씩 올랐습니다. 점수를 10점 추가하는 코드를 작성해주세요.

In [ ]:
# 국영수['영어'] += 10
# 국영수['수학'] += 10

# 아래는 영어와 수학이 없어도 반환해준다.
국영수.update({'영어': 국영수.get('영어') + 10})
국영수.update({'수학': 국영수.get('수학') + 10})
print(국영수)

문제4: 최종 점수에서 가장 높은 점수를 출력하는 코드를 작성해주세요.

In [ ]:
max(국영수.values())

문제5: 가장 높은 점수의 과목을 출력해주세요.  
[순서정하기](https://school.programmers.co.kr/learn/courses/30/lessons/120835) 문제와 유사합니다.

In [92]:
# 방법1
max(국영수.items(), key=lambda x: x[1])[0]

'국어'

In [93]:
# 방법2
max(국영수, key=국영수.get)

'국어'

In [94]:
# 방법3
list(sorted(국영수.items(), key=lambda x: x[1], reverse=True))[0][0]

'국어'

In [97]:
# 방법4
values = list(국영수.values())
list(국영수.keys())[values.index(max(values))]

'국어'

#0913연습문제1 #딕셔너리 #리스트  
주어진 리스트 
```py
data = [
  {"이름": "길동", "수학": 3, "과학": 93}, 
  {"이름": "춘향", "수학": 33, "수학": 11}, 
  {"이름": "철수", "수학": 94, "과학": 67}
]
```
에서 평균점수가 가장 높은 학생에 이름을 출력하세요.

In [104]:
data = [
    {"이름": "길동", "수학": 3, "과학": 93},
    {"이름": "춘향", "수학": 33, "과학": 11},
    {"이름": "철수", "수학": 94, "과학": 67}
]

print(max(data, key=lambda x: sum(list(x.values())[1:]))["이름"])

철수

#0913연습문제2 #딕셔너리  
주어진 사전 `grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}`의 모든 값을 5점씩 증가시키고 결과를 출력하세요.

In [102]:
# 방법1
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}

for i in grades:
    grades.update({i: grades.get(i)+5})

print(grades)

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}

In [103]:
# 방법2
grades = {"Tom": 87, "Jerry": 95, "Mickey": 70}

updated_grades = {name: score + 5 for name, score in grades.items()}
print(updated_grades)

{'Tom': 92, 'Jerry': 100, 'Mickey': 75}