#수업 #정수형 # 문제1  
x = 100  
y = 100  
z = x

다음 화살표를 그려보세요!

In [13]:
# x ┐
# y ┼> 100
# z ┘

#수업 #정수형 # 문제2  
x = 258  
y = 258  
z = x

다음 화살표를 그려보세요!

In [14]:
# z ┐
# x ┴> 258
# y -> 258

#수업 #실수형  
0.1 + 0.2 연산을 하면 0.30000000000000004의 결과가 나옵니다.  
왜 이런 현상이 생길까요?

In [ ]:
# 컴퓨터는 10진수가 아니라 2진수로 계산합니다.
# 그래서 2진수 변환에서 무한수가 발생할 수 있고, 계산의 오차가 생길 수 있습니다.

#수업 #문자열 #문제1-1  
아래와 같은 파일 이름이 있습니다.  
s = 'python3.png'  
  
- 문제1-1 : 파일 이름을 출력하세요 (출력: python3)
- 문제1-2 : 확장자를 출력하세요 (출력: png)

In [26]:
s = 'python3.png'

# 문제1-1 : .png를 잘라내기
print(s[:-4])

# 문제1-2 : png만 잘라내기
print(s[-3:])

python3
png
png
png

#수업 #문자열 #문제1-2   
항상 확장자만 나오게 해주세요.  

예시1) 'python3.png'  
정답1) png  

예시2) 'li.cat.jpeg'  
정답2) jpeg

In [29]:
# 방법1
s='li.cat.jpeg'

s.split('.')[-1]

'jpeg'

In [34]:
# 방법2
s = 'li.cat.jpeg'

s[s.rindex('.')+1:]

'jpeg'

#수업 #문자열 #문제2  
'010-1000-2000'을 입력받아 01010002000을 출력해주세요.

In [17]:
phone = '010-1000-2000'

''.join(phone.split('-'))

'01010002000'

#수업 #문자열 #문제3 #[비밀지도](https://school.programmers.co.kr/learn/courses/30/lessons/17681)
1. 지도는 한 변의 길이가 n인 정사각형 배열 형태로, 각 칸은 "공백"(" ") 또는 "벽"("#") 두 종류로 이루어져 있다.
2. 전체 지도는 두 장의 지도를 겹쳐서 얻을 수 있다. 각각 "지도 1"과 "지도 2"라고 하자. 지도 1 또는 지도 2 중 어느 하나라도 벽인 부분은 전체 지도에서도 벽이다. 지도 1과 지도 2에서 모두 공백인 부분은 전체 지도에서도 공백이다.
3. "지도 1"과 "지도 2"는 각각 정수 배열로 암호화되어 있다.
암호화된 배열은 지도의 각 가로줄에서 벽 부분을 1, 공백 부분을 0으로 부호화했을 때 얻어지는 이진수에 해당하는 값의 배열이다.

[입력형식]  
입력으로 지도의 한 변 크기 n 과 2개의 정수 배열 arr1, arr2가 들어온다.  
- 1 ≦ n ≦ 16
- arr1, arr2는 길이 n인 정수 배열로 주어진다.
- 정수 배열의 각 원소 x를 이진수로 변환했을 때의 길이는 n 이하이다. 즉, 0 ≦ x ≦ 2n - 1을 만족한다.

[출력 형식]   
원래의 비밀지도를 해독하여 '#', 공백으로 구성된 문자열 배열로 출력하라.

[입출력 예제]
매개변수	| 값
---|---
n	|5
arr1|	[9, 20, 28, 18, 11]
arr2|	[30, 1, 21, 17, 28]
출력|	["#####","# # #", "### #", "# ##", "#####"]

In [18]:
# keep해야할 포인트
# 1. 2진수는 정수형이다
# 2. 다만 bin()은 문자열이다

n = 5
arr1 = [9, 20, 28, 18, 11]
arr2 = [30, 1, 21, 17, 28]

# bin(arr1[0]) # 01001
# bin(arr2[0]) # 11110

bin(arr1[0] | arr2[0])
bin(arr1[0] | arr2[0])[2:].replace('1', '#').replace('0', ' ')

# 이 부분 주의!!
bin(31)[2:].replace('1', '#').replace('0', ' ')
bin(3)[2:].zfill(5).replace('1', '#').replace('0', ' ')

'   ##'

#수업 #문자열 #문제4 #369게임  
'36913699'와 같은 문자열이 입력되었을 때 박수를 몇 번 치는지 코드를 작성해주세요.  
- '336699' => 6번
- '123123' => 2번

In [19]:
s = '36913699'

s.count('3') + s.count('6') + s.count('9')

7

#수업 #문자열 #문제4-1 #369게임  
'36913699'까지 오는동안 박수는 몇번 쳤을까요?  
- 336699 => 84207113번
- 123123 => 176889번

In [20]:
s = str(list(range(123123)))

s.count('3') + s.count('6') + s.count('9')

176889

#수업 #문자열 #문제5  
1부터 10,000까지 8이라는 숫자가 총 몇번 나오는가?

8이 포함되어 있는 숫자의 갯수를 카운팅 하는 것이 아니라 8이라는 숫자를 모두 카운팅 해야 한다.
(※ 예를들어 8808은 3, 8888은 4로 카운팅 해야 함)

In [21]:
s = str(list(range(10001)))

s.count('8')

4000

#0908연습문제1 #문자열 #문제6  
문자열 s에 마지막에 있는 문자열을 2번 더 붙이는 코드를 작성해주세요.  
예) s = 'jun'   
정답) 'junnn'

In [22]:
s = 'jun'
s = s + s[-1] * 2
print(s)

junnn

#0908연습문제2 #문자열 #문제7  
대문자는 소문자로 치환하는 코드를 작성해주세요.   
예)  s = 'Jun'  
정답) 'jun'

In [23]:
s = 'Jun'
s = s.lower()
print(s)

jun

#0908연습문제3 #문자열 #문제8  
'abcde', 숫자, 대쉬(-), 언더스코어(_)를 모두 제거해주세요.  
예) s = 'hello_world123'  
정답) 'hlloworl'

In [24]:
s = 'hello_world123'
table = str.maketrans('', '', 'abcde0123456789-_')
s.translate(table)

'hlloworl'